.footer {
    background-color: #F0EBFA;
    font-family: Readex Pro, sans-serif;
    font-weight: bold;
    /*background-image: url("../assets/images/footer/Untitled.svg");*/
}

.sb__footer {
    display: flex;
    flex-direction: column;
}

.sb__footer-links {
    background-color: #140A29;
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

.sb__footer-links-div {
    display: flex;
    color: white;
    width: 100%;
    justify-content: space-between;
    font-size: 120%;
    font-weight: normal;
    align-items: center;
}

.elements {
    color: white;
    text-decoration: none;
}

.ig-logo {
    width: 10%;
    align-self: center;
    margin-left: 15%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sb__footer-png {
    width: 100%;
    position: absolute;
}

.sb__footer-copyright {
    font-weight: 200;
    font-size: 1vw;
    margin-bottom: 1%;
}

.sb__footer-content {
    color: #140A29;
    display: flex;
    font-size: medium;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.elicit {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25%;
    margin-top: 105%;
    width: 4vw;
}

.credits {
    font-size: 1.6vw;
    text-align: center;
}

@media only screen and (max-width: 850px) {
    .sb__footer-links-div {
        font-size: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .sb__footer-links-div {
        font-size: 60%;
    }
}