* {
    margin: -0px;
    padding: -0px;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

html,
body {
    position: relative;
}

video {
    width: 100%;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    max-height: 100vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide video {
    display: block;
    width: 100%;
    /*height: 100vh;*/
    object-fit: cover;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    background-color: transparent;
}

.button-class {
    position: relative;
    top: -400px;
    left: 45%;
    height: 50px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.82);
    z-index: 200;
    border-radius: 15em;
    cursor: pointer;
}

.button-class a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.button-class:hover {
    color: #000;
    background-color: #fff;
    transform: translateY(-10px);
    transition: 0.5s ease-in-out;
}