.ScrollingPoster {
  animation: VerticalScroll 15.90s infinite linear;
}

@keyframes VerticalScroll {
  0% {
    transform: translateY(0%);
  }
  5%, 20% {
    transform: translateY(-100%);
  }
  25%, 40% {
    transform: translateY(-200%);
  }
  45%, 60% {
    transform: translateY(-300%);
  }
  65%, 80% {
    transform: translateY(-400%);
  }
  85%, 100% {
    transform: translateY(-500%);
  }
}
