* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.heading {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    margin: 5rem;
    background: linear-gradient(90.98deg, #3D1F7A 45.76%, #D1C2F0 90.43%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-family: 'Montserrat', sans-serif;
}

.Navbar {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

.Hero {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

/*.Gallery {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    height: auto;
}*/

.Collage {
    height: 100vh;
}

